body {
  padding-top: 50px;
}
/*
.bs-sidebar {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top:    10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
/*    position: fixed; //
    text-shadow: 0 1px 0 #fff;
    background-color: #f7f5fa;
    border-radius: 5px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}*/
.content {
    margin-top: 10px;
    margin-bottom: 30px;
    padding-top:    10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    
    display: block;
}

.content:target {
    display: block;
}

.card-img-top {
    width: 100%;
    height: auto;
/*    height: 15vw; */
/*    object-fit: cover; */
}